.vertical-center{
    min-height: 60%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 60vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}