<!-- <div class="container">
  <div class="row"> -->
      
    <!-- remove this -->
      <!-- <div id="profile" name="profile" class="col-md-3" style ='background-color: #2ba6cb;'><p align="center">Oh you know</p></div> -->
          <!-- remove this -->

      
      <div class="col-md-9">
        <div class="row jumbotron" name="mainJumbo">
        <div class="col-sm-9">
        <h3 align="center">The Warlock's Message Board</h3>
        </div><!-- /col-sm-12 -->
        <div class="col-sm-3">
          <button class="btn" (click)="getPostsFromService()">Refresh Post</button>
        </div>
        <div style="float: center">
        <input class="searchInput" placeholder="Search for users" [(ngModel)]="userSearch"><button class="glyphicon glyphicon-search" type="button" name="searchIcon" (click)="searchForUser()"></button>
        </div>
      </div><!-- /row -->

        

        <!-- Start of comment block -->
        <ol style="padding:0px">

          <!-- Hidden empty comment block with input fields for creating posts -->
        
          <div class="row no-gutters jumbotron" [ngStyle]="{'display': showCommentEntry ? 'block':'none'}"> 
            <div class="col-sm-1">
              <div class="glyphicon glyphicon-x">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
              </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->
                
            <div class="col-md-11">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <strong> {{currentUser.$username}} </strong>
                  <!-- <span class="text-muted">commented on</span> -->
                  <button class="btn" id="submitComment" type="button" (click)="createPost()" style="float:right">Submit</button>
                </div>
                <div class="panel-body" style="padding: 0px">  
                    <textarea class="form-control" [(ngModel)]="unsubmittedContent" rows="5" ng-model="cmtName" style="padding: 0px; border: none" placeholder="Create your message"></textarea>       
                </div>
              </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
          </div>
          <!-- END HIDDEN COMMENT -->
          
          <div class="row no-gutters jumbotron" [ngStyle]="{'display': showUserInfo ? 'block':'none'}"> 
              <div class="col-sm-1">
                <div class="glyphicon glyphicon-x">
                  <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div><!-- /thumbnail -->
              </div><!-- /col-sm-1 -->
                  
              <div class="col-md-11">
                <!-- <div class="panel panel-default"> -->
                  <!-- <div class="panel-heading"> -->
                  <h3 align="center"><strong > {{searchedUser.username}} </strong></h3>
                  <!-- </div> -->
                  <div class="panel-body" style="padding: 0px">  
                    <ul>
                      <li>Name: {{searchedUser.firstname}} {{searchedUser.lastname}}</li>
                      <li>Email: {{searchedUser.email}}</li>
                    </ul>
                  </div>
                <!-- </div>/panel panel-default -->
              </div><!-- /col-sm-5 -->
            </div>
          
          <!-- LIST OF COMMENTS -->
          <li *ngFor="let post of postList" style="list-style-type: none">
            <div class="row no-gutters jumbotron" [ngStyle]="{'background-position-x': post.$pos[1]+'%', 'background-position-y': post.$pos[1]+'%'}">
              <div class="col-sm-1">
                <div class="glyphicon glyphicon-x">
                  <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                  </div><!-- /thumbnail -->
                  </div><!-- /col-sm-1 -->
                  
                  <div class="col-md-11">
                  <div class="panel panel-default">
                  <div class="panel-heading">
                  <strong>{{post.$user.username}}</strong> <span class="text-muted">commented on </span>
                  <button style="float: right" type="button" class="btn btn-default btn-sm" (click)="likePost(post)"><span class="glyphicon glyphicon-thumbs-up"></span> {{post.likes.length}}</button>
                  </div>
                  <div class="panel-body"> {{post.$message}} </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
              </div><!-- /col-sm-5 -->
            </div>
          </li>
        </ol>
        <!-- END LIST OF COMMENTS -->
        <!-- End of comment block -->
        <div align="center" style="padding-bottom: 25px">
          <div class="col-md-1" (click)="getPostsByID(0)">
            <p>Most Recent</p>
            <a style="padding-right: 10px"><<</a>
          </div>
          <div class="col-md-1" (click)="getPostsByID(-1)">
              <p>Next 10</p>
            <a style="padding-right: 10px"><</a>
          </div>
          <div class="col-md-1" (click)="getPostsByID(1)">
            <p>Previous 10</p>
            <a style="padding-right: 10px">></a>
          </div>
          
        </div>
      </div>
  <!-- </div>
</div> /container -->

