#submitComment {
    text-align: "right";
}

:host {
    background-image: url("https://www.pexels.com/photo/abstract-art-background-blur-220072/");

}

body {
    background-color: #764B8E;
  }


.row.no-gutters.jumbotron {
    padding-top: 2rem;
    padding-bottom: 1.5 rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
}