#submitComment {
    text-align: "right";
}

.col-md-9{
    background-color: #9775AA;
}
.input[name="mainJumbo"]{
    background-color: #582A72;
}



.row.no-gutters.jumbotron {
    padding-top: 2rem;
    padding-bottom: 1.5 rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
}