<div class="card">
    <canvas class="header-bg" width="250" height="70" id="header-blur">
        <!-- <img src="http://via.placeholder.com/350x150" alt=""/> -->
    </canvas>
    
    <div class="avatar">
        <div *ngIf="currentUser.$image==null; else showimage">
            <img src="http://via.placeholder.com/350x150" />
        </div>
        <ng-template #showimage>
            <img src={{currentUser.$image}}/>
        </ng-template>
    </div>
    <div class="content prof-item">
        <p>{{currentUser.$firstName}} {{currentUser.$lastName}}</p>
        <p>username: {{currentUser.$username}}</p>
        <p>Email: {{currentUser.$email}}</p>
        <button id="edit-profile" (click)="editProfile()" type="submit" class="btn btn-primary glyphicon glyphicon-edit"> Edit </button><br><br>
        <button id="post-control" (click)="newPostControl()" type="button" class="btn btn-primary"> New Post </button><br><br>
        <button id="logout" (click)="logout()" type="button" class="btn btn-primary"> Logout </button>
        <br><br>
    </div>
</div>