/* You can add global styles to this file, and also import other style files */
body{
    background-color: #582A72;
    background-image: url('/assets/4375-dark-purple-bokeh-lights-background.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
}